
<div class="new-task-box">
  <h2>My To Do List</h2>
  <%= link_to 'Add a New Task +', new_task_path, class: 'add-task-btn' %>
</div>

<div class="tasks-container">

  <ul class="task-box" id="completed-task-box">
     <h1>Completed tasks</h1>
    <% @tasks.each do |task| %>
      <% if task.completed? %>
    <li>
    <div class="task">
     <h2> <%= link_to task.name, task_path(task[:id]), class: 'task', id: 'complete-task' %></h2>
      <div class="details"> <%= task.details %></div>
      <div class="edit-delete">
      <p><%= link_to "Edit", edit_task_path(task) %></p>
     <p><%= link_to "Delete", task_path(task[:id]), method: :delete, data: {confirm: "Are you sure?"} %></p>
     </div>
    </div>
    </li>
      <% end %>
      <% end %>
   </ul>

  <ul class="task-box" id="incomplete-task-box">
    <h1>Incomplete tasks</h1>
       <% @tasks.each do |task| %>
       <div class="task">
        <% if task.completed == false %>
          <li>
            <h2> <%= link_to task.name, task_path(task[:id]), class: 'task', id: 'incomplete-task'%></h2>
            <div class="details"> <%= task.details %></div>
            <div class="edit-delete">
            <p><%= link_to "Edit", edit_task_path(task) %></p>
            <p><%= link_to "Delete", task_path(task[:id]), method: :delete, data: {confirm: "Are you sure?"} %></p>
        </div>
    </div>
          </li>
        <% end %>
      <% end %>
   </ul>


 <script>
  $(".task-check").bind('change', function(){
    $.ajax({
      url: '/tasks/'+this.value+'/done',
      type: 'POST',
      data: {"done": this.checked},
    });
  });

</script>
