<h2>My To Do List</h2>

<div class="new-task-box">
  <%= link_to 'Add a New Task +', tasks_new_path, class: 'btn btn-primary' %>
</div>

 <h1>Incomplete Tasks</h1>
<%= form_tag(complete_tasks_path, method: :put)  do %>
  <% for task in @incomplete_tasks %>
    <ul>
      <li>
        <%= check_box_tag 'task_id', task.id %>
        <%= task.name %>
      </li>
    </ul>
  <% end %>
  <%= submit_tag 'Mark as Complete' %>
<% end %>
<h1>Complete Tasks</h1>
<ul>
<% for task in @complete_tasks %>
  <li>
      <%= task.name %>
  </li>
<% end %>
</ul>

 <script>
  $(".task-check").bind('change', function(){
    $.ajax({
      url: '/tasks/'+this.value+'/done',
      type: 'POST',
      data: {"done": this.checked},
    });
  });

</script>
