<h2>My To Do List</h2>

<div class="new-task-box">
  <%= link_to 'Add a New Task +', new_task_path, class: 'btn btn-primary' %>
</div>

  <ul id="myUL">
     <h1>Completed tasks</h1>
    <% @tasks.each do |task| %>
      <% if task.completed? %>
    <li>
     <p> <%= link_to task.name, task_path(task[:id]), class: 'task', id: 'complete-task' %></p>
      <p><%= link_to "Edit", edit_task_path(task) %></p>
     <p><%= link_to "Delete", task_path(task[:id]), method: :delete, data: {confirm: "Are you sure?"} %></p>
    </li>
      <% end %>
      <% end %>
   </ul>

  <ul>
    <h1>Incomplete tasks</h1>
       <% @tasks.each do |task| %>
        <% if task.completed == false %>
          <li>
            <p> <%= link_to task.name, task_path(task[:id]), class: 'task', id: 'incomplete-task'%></p>
            <p><%= link_to "Edit", edit_task_path(task) %></p>
            <p><%= link_to "Delete", task_path(task[:id]), method: :delete, data: {confirm: "Are you sure?"} %></p>
          </li>
        <% end %>
      <% end %>
   </ul>


 <script>
  $(".task-check").bind('change', function(){
    $.ajax({
      url: '/tasks/'+this.value+'/done',
      type: 'POST',
      data: {"done": this.checked},
    });
  });

</script>
